.btn-class {
  width:30rem;
  height: 30rem;
  background:$b-blue;
  svg {
    position:absolute;
    width: 15rem;
    height: 15rem;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    * {
      fill: $b-orange;
    }
  }
  &.prev {
    svg {
      transform: translate(-50%,-50%) rotate(180deg)  ;
    }
  }
  @media($dt) {
    width:62rem;
    height:62rem;
    svg {
      width:24rem;
      height:24rem;
    }
  }
}
