section#contact {
  background:$b-blue;
  //color:white;
  padding: 60rem $mob-margin 40rem $mob-margin;
  @media($dt) {
    padding:55rem 25rem 40rem 110rem;
  }
  a {
    color:white;
  }
  .main-content {
    @media($dt) {
      float:left;
      width: percentage(765/1065);
    }
    .heading {
      h2 {
        font-size:32rem;
        letter-spacing:-.01em;
        margin-bottom: 1em;
        @media($dt) {
          font-size:40rem;
          height:60rem;
          margin:0;
        }
      }
    }
  }

  #contact-list {
    @media($dt) {
      margin-bottom:15rem;
    }
    > li {
      margin-bottom:30rem;
      font-family: $din;
      color:white;
      font-size:18rem;
      line-height:1em;
      @media($dt) {
        float:left;
        margin: 0 60rem 20rem 0;


      }
      &:last-child {
        margin-bottom:0;
      }
      h3 {
        color:white;
        font-size:24rem;
        line-height:1em;
        margin-bottom:.25em;

        span {
          display:inline-block;
          border-bottom:4rem solid $b-orange;

        }
      }
    }
  }
  .ownership {
    padding-top:50px;
    @media($dt) {
      padding:0;
    }
    h1 {
      font-size:32rem;
      margin-bottom:.5em;
      @media($dt) {
        font-size:40rem;
      }
    }
    a {
      font-family: $din;
      font-size: 18rem;
      display:inline-block;

    }
  }
  .bottom-logos {

    position:relative;
    margin-top: 60rem;
    width: 100% + ($mob-margin*2);
  //width: calc(100% + (24px));
    left: -($mob-margin);
    text-align: center;
    letter-spacing:-4px;
    margin-bottom:-12rem;
    @media($dt) {
      margin:0;
      float:right;
      position:static;
      padding-top:60rem;
      width: percentage((1065 - 765)/1065);
      text-align:left;
    }
    > li {
      display:inline-block;
      vertical-align:middle;
      margin: 0 6rem 12rem 6rem ;
      @media($dt) {
        margin:0 25rem 40rem 0;
      }
      a {
        display:block;
      }
    }
  }
}
