section#contact {
  img {
    &.logo {
      width: auto;
    }
    &.cushman {
      height: 23rem;
      @media($dt) {
        height: 33rem;
      }
    }
    &.blt {
      width: auto;
      height: 25rem;
      position: relative;

      @media($dt) {
        height: 39rem;
        left:-15rem;
      }
    }
    &.quinlan {

      height:32rem;
      @media($dt) {
        height:44rem;
      }
    }
  }
  background:$b-blue;
  //color:white;
  padding: 60rem $mob-margin 40rem $mob-margin;
  @media($dt) {
    padding:55rem percentage(45/1200) 40rem percentage(110/1200);
  }
  a {
    color:white;
  }
  .main-content {
    @media($dt) {
      float:left;
      width: percentage(760/1045);
      padding-right: 10rem;
    }
    .heading {
      h2 {
        font-size:32rem;
        letter-spacing:-.01em;
        margin-bottom: 1em;
        @media($dt) {
          font-size:40rem;
          height:60rem;
          margin:0;
        }
      }
    }
  }

  #contact-list {
    @media($dt) {
      margin-bottom:15rem;
    }
    > li {
      margin-bottom:30rem;
      font-family: $din;
      color:white;
      font-size:18rem;
      line-height:1em;
      @media($dt) {
        float:left;
        margin: 0 0rem 20rem 60rem;
        &:nth-child(3n+1) {
          margin-left: 0;
        }

      }
      &:last-child {
        margin-bottom:0;
      }
      h3 {
        color:white;
        font-size:24rem;
        line-height:1em;
        margin-bottom:.25em;

        span {
          display:inline-block;
          border-bottom:4rem solid $b-orange;

        }
      }
    }
  }
  .ownership {
    padding-top:50px;
    @media($dt) {
      padding:0;
    }
    h1 {
      font-size:32rem;
      margin-bottom:.5em;
      @media($dt) {
        font-size:40rem;
      }
    }
    a {
      display:block;
      margin-bottom: 20rem;
      &:last-child {
        margin-bottom: 0;
      }
      font-family: $din;
      font-size: 18rem;
      @media($dt) {
        display:inline-block;
        margin: 0 25rem 0 0;
      }
      img {
        margin: 0 0 5rem 0;
      }
    }
  }
  .bottom-logos {

    position:relative;
    margin-top: 60rem;
    width: 100% + ($mob-margin*2);
  //width: calc(100% + (24px));
    left: -($mob-margin);
    text-align: center;
    letter-spacing:-4px;
    margin-bottom:-12rem;
    @media($dt) {
      margin:0;
      float:right;
      position:static;
      padding-top:60rem;
      width: percentage((1045 - 760)/1045);
      text-align:left;
    }
    > li {
      display:inline-block;
      vertical-align:middle;
      margin: 0 6rem 12rem 6rem ;
      img {
        width: auto;
      }
      @media($dt) {
        display:block;
        margin: 0;
        img {
          margin: 0;
        }
      }
      a {
        display:block;
      }
      &.cushman {

      }
      &.blt {
        @media($dt) {
          margin-top: 10rem;
          position: relative;
          left: -17rem;
        }

      }
      &.quinlan {
        @media($dt) {
          margin-top:50rem;
        }

      }
    }
  }
}
