footer {
  font-size:16px;
  color: $b-grey;
  font-family: $din;
  padding: 11px $mob-margin;
  @media($dt) {
    padding: 10rem 70rem 10rem 110rem;
    font-size:16rem;
    > * {
      float:left;
      width: 50%;
    }
    a {
      text-align:right;
    }
  }
  a {
    color:$b-grey;
  }
}
