section#location {
  #location-gallery {
    li {
      opacity: 0;
      transition: opacity $ts/2;
      visibility:hidden;
      backface-visibility:hidden;
      &.__loaded {
        opacity:1;
        visibility:visible;
      }
      a {
        position:relative;
        display:block;
        height:0;
        width: 100%;
        padding-top: percentage(200/320);
        pointer-events:none;
        overflow:hidden;
        backface-visibility:hidden;
        @media($dt) {
          pointer-events: auto;
          html.no-touchevents & {
            .copy {
              display:block;
              position:absolute;
              width:100%;
              left: 0;
              text-align: center;
              z-index:1;
              top:50%;
              transform:translateY(-50%);
              color:$b-orange;
              font-family:$din;
              text-transform:uppercase;
              font-size:48rem;
              line-height:1em;
              opacity: 0;
              transition: opacity $ts;
              backface-visibility:hidden;
            }
            &:after {
              position:absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              display:block;
              content:'';
              background:rgba(white,.8);
              opacity: 0;
              transition:opacity $ts;
              backface-visibility:hidden;
            }
            .inner {
              transition: transform $ts;
              transform: scale(1);
            }
            &:hover {
              &:after, .copy {
                opacity:1;
              }
              .inner {
                transition-duration: $ts*4;
                transform:scale(1.03);
              }
            }
          }
        }
        .copy {
          display:none;
        }
        .inner {
          position:absolute;
          left: 0;
          top: 0;
          width:100%;
          height: 100%;
          background-position:center center;
          background-size:cover;
          backface-visibility:hidden;
        }
      }
      @media($dt) {
        float:left;
        width:50%;
        &:nth-child(odd) {
          &:last-child {
            width:100%;
            a {
              padding-top:percentage(397/1200);
            }
          }
        }
        a {
          padding-top:percentage(397/600);
        }
      }
    }
  }
}
