section#building {
  .top-section {

    position:relative;
    @media($dt) {
      padding:74rem 0;
      background: $b-blue;
    }
  }
  .header-1, .bottom-section .white-heading {
    padding: 35rem $mob-margin;

  }
  .header-1 {
    @media($dt) {
      padding:0;
      position: absolute;
      left: 0;
      width: 50%;
      top:0;
      height:100%;
      background:white;
      .left-side{
        position: absolute;
        left:50%;
        top:50%;
      //  transform: translate(-50%,-50%);
        max-width: 385rem;
        h1 {


        }
      }
    }
  }
  .right-wrap {
    @media($dt) {
      position:absolute;
      right: 0;
      top: 0;
      width:50%;
      height:100%;
    }
  }
  .info {
    background: $b-blue;
    color: white;
    padding: 50rem $mob-margin;
    @media($dt) {
      padding:0;
      position:absolute;
      left:50%;
      top:50%;
      //transform:translate3d(-49.99%,-49.99%,0);
      width:percentage(437/600);
      .stat-list {

        li {

          margin-bottom:24rem;
          padding-left:15rem;

          &:last-child {
            margin-bottom:0;
          }
        }
      }
    }
  }
}
